<div style="height: 70%; overflow-y: scroll;">
    Users
    <hr>
    <h6>Admin</h6>
    <div class="mt-4">
        <img src="/uploads/<%- admin.Profile.image %>"
            style="height: 40px; width:40px; border-radius: 50%;">
        <span style="padding-left: 10px;">
            <%- admin.name %>
        </span>
    </div>
    <hr>
    <h6>Sathi Haru</h6>
    <div class="mt-4">
        <img src="/uploads/<%- admin.Profile.image %>"
            style="height: 40px; width:40px; border-radius: 50%;">
        <span style="padding-left: 10px;">User 1</span>
    </div>
    <div class="mt-4">
        <img src="/uploads/<%- admin.Profile.image %>"
            style="height: 40px; width:40px; border-radius: 50%;">
        <span style="padding-left: 10px;">User 2</span>
    </div>
</div>