<div style="height: 70%; overflow-y: scroll;">
    Users
    <hr>
    <h6>Admin</h6>
    <div class="mt-4">
        <img src="/uploads/<%- admin.Profile.image %>" style="height: 40px; width:40px; border-radius: 50%;">
        <span style="padding-left: 10px;">
            <%- admin.Profile.userName %>
        </span>
    </div>
    <hr>
    <h6>Sathi Haru</h6>
    <% members.forEach(u=> { %>
        <% if (u.id!=admin.id) { %>
            <div class="mt-4">
                <img src="/uploads/<%- u.Profile.image %>" style="height: 40px; width:40px; border-radius: 50%;">
                <span style="padding-left: 10px;">
                    <% if (u.id==user.id) { %>
                        <span style="color: brown; font-weight: bold;">
                            <% } else { %>
                                <span>
                                    <% } %>
                                        <%- u.Profile.userName %>
                                </span>
                        </span>
            </div>
            <% } %>
                <% }) %>

</div>